doctype html
html(data-ng-csp="")
    head
        meta(charset="utf-8")
        title Joie De Vivre
        meta(name="description" content="TODO")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        div(data-ui-view="")
