div.container
    div.page-header.text-center
        h1 Struggling with addiction?
        hr
        h2 We're here to help
    div.row
        h3.text-center If you need to find a treatment center, click 
            a(href="findFacilities") here
        div.col-lg-4.col-md-4.col-sm-6.col-xs-12
            h4 Signs of addiction and abuse
            ul
                li doctor shopping - multiple prescriptions from different doctors
                li extra pill bottles in trash can
                li social withdrawal and isolation
                li sudden financial problems
                li pawning or selling household valuables
        div.col-lg-4.col-md-4.col-sm-6.col-xs-12
            h4 What are common Opiates?
            ul
                li Heroin.
                li Fentanyl.
                li Oxycodone (OxyContin and Percocet).
                li Hydrocodone (Vicodin and Lortab).
                li Morphine.
                li Codeine.
        div.col-lg-4.col-md-4.col-sm-6.col-xs-12
            h4 Immediate symptoms of usage
            ul
                li noticeably euphoric or extremely happy
                li after euphoria, sedation and tiredness
                li slow breathing rate
                li constricted pupils
                li confusion
    div.page-header
        h2 How to confront the issue
    div.row
        div.col-lg-3.col-md-3.col-sm-3.col-xs-12
            h3 How you behave
            p You should try to keep calm, no matter what.
            | You do not want an angry conversation.
            | Don't let yourself be drawn into an argument.
            | Talk about your feelings, but more importantly,
            | listen to what they have to say, this will allow the addict to feel like they can trust and confide in you.
            | Be consistent in your interactions with them.
        div.col-lg-3.col-md-3.col-sm-3.col-xs-12
            h3 Expected outcomes
            ul
                li Expect treatment refusal on multiple occasions
                li Keeping consistant with each interaction in the end will make them ultimately accept treatment.
                li
        div.col-lg-3.col-md-3.col-sm-3.col-xs-12
            h3 Create the environment
            ul
                li Catch them at a time when they are sober, often being the early morning.
                li Stage an intervention with the help of a professional therapist or interventionist.
                li 
        div.col-lg-3.col-md-3.col-sm-3.col-xs-12
            h3 Stage an intervention
            p Get the help of a professional therapist or interventionist.
            | Interventions allow a group of loved ones to come together and plan what they'll say when confronting an addict.
            | This can help alleviate some of the tendency to lose your temper or become overly emotional.
            | The ultimate objective of an intervention is to motivate the addict to seek treatment for their addiction.
    div.page-header
        h2 Phases of addiction treatment
    div.row
        div.col-lg-4.col-md-4.col-sm-6.col-xs-6
            h3 Long-Term Residential(In-patient) Treatment
            p Provides 24 hour care. Length of stay can vary from 6 months to one year. Treatment is structured and focuses on personal accountability and responsibility. Residents work on various aspects of their life such as but no limited to: negative/harmful beliefs, identifying destructive patterns, implementing new patterns, creating and maintaining effective support systems, etc. Types of therapy available will depend on the facility but can include individual therapy, group therapy, and family therapy.
        div.col-lg-4.col-md-4.col-sm-6.col-xs-6
            h3 Short-Term Residential (In-Patient) Treatment
            p Intensive but brief treatment, 90 days or less. Generally follows a modified 12-step approach.
        div.col-lg-4.col-md-4.col-sm-6.col-xs-6
            h3 Successful Outcomes of Interventions
            ul
                li Share your concerns
                li Stay Suppostive
                li Have a plan - Options of treatment for your loved one.
