div.card.white-background.container.shadow
    div.page-header.text-center
        div.h1 We're here to help
    div.col-xs-12
        div.h2 Types of services
        div.col-xs-12
            p
            div.col-xs-12
                div.h3 Long-Term Residential (In-patient) Treatment
                p
                    | Provides 24 hourcare. Length of stay can vary from 6
                    | months to one year. Treatment is structured and focuses on
                    | personal accountability and responsibility. Residents work
                    | on various aspects of their life such as but no limited
                    | to: negative/harmful beliefs, identifying destructive
                    | patterns, implementing new patterns, creating and
                    | maintaining effective support systems, etc. Types of
                    | therapy available will depend on the facility but can
                    | include individual therapy, group therapy, and family
                    | therapy.
            div.col-xs-12
                div.h3 Short-Term Residential (In-Patient) Treatment
                p
                    | Intensive but brief treatment, 90 days or less. Generally
                    | follows a modified 12-step approach.
            div.col-xs-12
                div.h3 Partial Hospitalization Program
                p
                    | Does not provide 24  hour care but does provide medical
                    | assisted treatment. Generally 5-6 hours a day for 5-7 days
                    | a week.
            div.col-xs-12
                div.h3 Outpatient Treatment
                p
                    | Varies in the types and intensities depending on the
                    | facility. Daily treatment that allows you to return to
                    | your home or other living arrangement during non-treatment
                    | hours. Although individual therapy may be provided, the
                    | focus is on group therapy. More Intensive Outpatient
                    | Programs (IOP) can encompass and treat mental health
                    | disorders as well as substance abuse. Generally 3-4 hours
                    | for 4 days a week.
            div.col-xs-12
                div.h3 AA Support Groups
                p
                    | A free opportunity for individuals to meet anonymously
                    | with peers in recovery for guidance and to work the
                    | 12-step system. Often times individuals in recovery will
                    | attend meetings in addition to PHP and IOP. Meetings are
                    | generally an hour and open to anyone with the desire to
                    | live a sober life.
    div.col-xs-12
        div.h2 Time to intervene
        div.col-xs-12
            p
                | The purpose of an intervention is to have a conversation with
                | an addict about their substance abuse. It is an opportunity
                | for loved ones to express their feelings to the addict in a
                | constructive way and show addicts how their behavior affects
                | more than just the individual. The goal is to help the person
                | begin recovery. The conversation may be difficult as the
                | addict will most likely be in denial about their substance
                | abuse, so having an intervention specialist or therapist
                | involved would be helpful.
            div.h3 How to have an intervention
            ul
                li Share your concerns
                li Stay supportive
                li Have a plan, such as options of treatment
            div.h3 Guidelines
            ul
                li Participants need to be educated about the disease of addiction prior to the intervention
                li Any letters should be concise, well-rehearsed, and should accentuate the positive
                li Should take place on neutral territory
                li Invited people should include family members, close friends, and, when appropriate, employers or fellow employees
                li Limit the time to about 60-90 minutes, as longer sessions tend to lead to anger flare ups and compassion tends to decline
