div.container
    div.row
        div.col-lg-6.col-md-6.col-sm-6.col-xs-6
            img.col-lg-2.rounded-circle.img-fluid.d-block.mx-auto(height="100" width="130" src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=o6u9Tq%2FiOJm8OxArAcTdAq%2Fy5Lk%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R69hAxU0Rks6bmIpkb-50hKCoTTEHX8RHTuvoTTOCq8J4OcZuH--hlDJmgewUB2LrzwHWW_VtCjKoPteN0lipPtLJHjNVBROlE8gG9JodY6NRUropW_SPj5bCdN3eIVbj24Mq3gaFwsRy8n-g" alt="")
            span.h4(style="vertical-align: middle;") Hayes Guidry
        div.col-lg-6.col-md-6.col-sm-6.col-xs-6
            span.h3(style="vertical-align: top;") Money : $0
    hr
    div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
            label(for="firstName") First Name
                h5#firstName.text-center Hayes
            br
            label(for="lastName") Last Name
                h5#lastName.text-center Guidry
            br
            label(for="location") Location
                h5#location.text-center Lafayette, LA
            br
            label(for="age") Age
                h5#age.text-center 20
            br
            label(for="daysClean") Days Clean
                h5#daysClean.text-center 9
            br
            label(for="dailyCost") Daily Drug Expense
                h5#dailyCost.text-center $200
            br
            label(for="moneySaved") Money Saved
                h5#moneySaved.text-center $1800