div.container(style="margin-top: 30px;")
    div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
            span.h4(style="vertical-align: middle;") Hayes Guidry
    div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
            img.rounded-circle(height="100" width="140" src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=o6u9Tq%2FiOJm8OxArAcTdAq%2Fy5Lk%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R69hAxU0Rks6bmIpkb-50hKCoTTEHX8RHTuvoTTOCq8J4OcZuH--hlDJmgewUB2LrzwHWW_VtCjKoPteN0lipPtLJHjNVBROlE8gG9JodY6NRUropW_SPj5bCdN3eIVbj24Mq3gaFwsRy8n-g" alt="")
    div.row
        div.col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center
        div.col-lg-3.col-md-3.col-sm-3.col-xs-12.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center
            span.h3.text-center Money Saved: $0
        div.col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center
    hr
    hr
    hr
    hr
    div.row
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="firstName") First Name
                h5#firstName.text-center Hayes
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="lastName") Last Name
                h5#lastName.text-center Guidry
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
    div.row
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="location") Location
                h5#location.text-center Lafayette, LA
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="age") Age
                h5#age.text-center 20
    div.row
    
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="age") Sex
                h5#age.text-center Male
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="daysClean") Days Clean
                h5#daysClean.text-center 9
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
    div.row
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="dailyCost") Daily Drug Expense
                h5#dailyCost.text-center $200
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.text-center
            label(for="moneySaved") Money Saved
                h5#moneySaved.text-center $1800