div.container.no-padding.card.white-background.padding-2-em.shadow
    div.header.col-xs-12.card
        span.h1 Find Services
    div.content
        div.col-md-8.map-container-section
            div Map section
        div.col-md-4.list-container
            div list
            