div.container
    div.row
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        div.col-lg-12.col-md-12-col-sm-12.col-xs-12
            h5.text-center We are here to help family members that are struggling with opiate addicts.
            h5.text-center We try our best to steer them in the right direction when it comes to interventions and confrontations.
            h5.text-center With our help you will be able to get the support that your loved one needs.
            h5.text-center We specialize in helping your loved ones stay sober after they get out of treatment.
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr