/* Coolors Exported Palette - coolors.co/07020d-5db7de-f1e9db-bcd2ee-716a5c */

/* HSL */
$color1: hsla(267%, 73%, 3%, 1);
$color2: hsla(198%, 66%, 62%, 1);
$color3: hsla(38%, 44%, 90%, 1);
$color4: hsla(214%, 60%, 84%, 1);
$color5: hsla(40%, 10%, 40%, 1);

/* RGB */
$color1: rgba(7, 2, 13, 1);
$color2: rgba(93, 183, 222, 1);
$color3: rgba(241, 233, 219, 1);
$color4: rgba(188, 210, 238, 1);
$color5: rgba(113, 106, 92, 1);


/* https://coolors.co/07020d-5db7de-f1e9db-bcd2ee-716a5c*/
/* dark color */
$primary:   rgba(7, 2, 13, 1);

/* warm blue */
$secondary: rgba(188, 210, 238, 1);

/* super light gray */
$accent1:   rgba(241, 233, 219, 1);

/* darker grey */
$accent2:   rgba(113, 106, 92, 1);

/* sharp blue */
$accent3:   rgba(93, 183, 222, 1);